.art-booking {
    padding: 30px;
    background: $white;
    margin-bottom: 25px;
    border-radius: 10px;
    header {
        display: flex;
        align-items: top;
        justify-content: space-between;
    }
    .title-booking {
        font-size: 17px;
        font-weight: 700;
        margin-top: 15px;
    }
    .list {
        margin: 15px 0 15px 0;
        padding: 0;
        list-style: none;
        li {
            padding-left: 20px;
            position: relative;
            color: #7A7A7A;
            font-size: 15px;
            &::after {
                content: "";
                width: 3px;
                height: 3px;
                border-radius: 3px;
                background: #7A7A7A;
                position: absolute;
                left: 8px;
                top: 10px;
            }
        }
    }
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .btn-booking {
            border: 1px solid $black;
            border-radius: 5px;
            height: 34px;
            background: transparent;
            padding-left: 10px;
            padding-right: 10px;
            color: $black;
            font-weight: 500;
            svg {
                margin-right: 3px;
                color: $black;
            }
        }
    }
    &:hover {
        background: $black;
        color: $white;
        header {
            svg {
                color: $white;
            }
        }
    }
}