.btn-style {
    display: inline-block;
    height: 50px;
    padding: 0 30px;
    background: $black;
    border-radius: 5px;
    line-height: 50px;
    color: $white;
    text-decoration: none;
    font-size: 15px;
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
  }
  
 
  