.frm-general {
    .title-frm {
        font-weight: 800;
        text-transform: uppercase;
        font-size: 21px;
    }
    .form-control {
        height: 50px;
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(206, 206, 206, 0.25);
        border-radius: 5px;
        border-color: $white;
        padding-left: 20px;
        padding-right: 20px;
    }
    &.frm-search {
        position: relative;
        width: 100%;
        max-width: 320px;
        overflow: hidden;
        .form-control {
            padding-left: 50px;
        }
        .btn-search {
            position: absolute;
            left: 0;
            top: 0;
            border: 0;
            width: 50px;
            height: 50px;
            background: $white;
        }
    }
    
}
.section-frm-bg {
    .frm-general {
        
        .form-control {
           
            background: #F9F9F9;
            border-color: #F9F9F9;
            box-shadow: none;
           
        }
        
    }  
}  
 