section {
    &.section-frm {
        font-size: 15px;
        max-width: 425px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        height: 100vh;
        .box-center {
            width: 100%;
            button {
                width: 100%;
            }
        }
        .txt-intro {
            text-align: center;
            width: 100%;
            max-width: 330px;
            margin-left: auto;
            margin-right: auto;
        }
        .txt-login {
            text-align: center;
            display: block;
            text-transform: uppercase;
            font-weight: 700;
            color: $black;
            font-size: 13px;
        }
        .login-social {
            display: block;
            text-align: center;
            width: 320px;
            margin: 25px auto;
            padding-top: 27px;
            border-top: 1px solid $gray;
            .icon-login {
                display: inline-block;
                margin: 0 10px;
               
            }
        }
       
    }
    &.section-frm-bg {
        max-width: 480px;
        .box-center {
            padding: 35px 30px;
            border-radius: 10px;
            background: $white;
        }
    }
    &.section-main {
        width: 100%;
        padding: 0 80px 0 150px;
        margin: 80px auto 20px auto;
        height: calc(100vh - 100px);
        overflow-y: auto;
    }
}

.tool {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}