.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px 20px 150px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    .box-user {
        .img-user {
            width: 30px;
            height: 30px;
            border-radius: 3px;
            object-fit: cover;
            margin-left: 10px;
        }
    }
    .list-header {
        margin: 0;
        display: flex;
        align-items: center;
        list-style: none;
        li {
            margin: 0 5px;
            a {
                color: $black;
                text-decoration: none;
                padding: 5px 10px;
                border-bottom: 1px solid transparent;
            }
            &.active, &:hover {
                a {
                    border-color: $black;
                }
            }
        }
    }
}