.icon {
    display: inline-block;
    vertical-align: middle;
    &.icon-z {
        width: 24px;
        height: 24px;
        background: url('../img/icon/icon-search.svg') no-repeat center/contain;
    }

}


