.left-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background: $white;
    
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}