

img {
  max-width: 100%;
}

.thumb {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &.thumb-16x9 {
    padding-bottom: 56.25%;
  }
  &.thumb-4x3 {
    padding-bottom: 75%;
  }
  &.thumb-3x2 {
    padding-bottom: 66.66%;
  }
  &.thumb-1x1 {
    padding-bottom: 100%;
  }
  &.thumb-5x2 {
    padding-bottom: 40%;
  }
  &.thumb-3x1 {
    padding-bottom: 33.3333%;
  }
  &.thumb-2x3 {
    padding-bottom: 150%;
  }
  
}



.title-main {
  position: relative;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: $white;
  margin-bottom: 60px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  span {
    font-size: 16px;
    font-weight: 400;
    color: $main;
    display: block;
  }
  &.center {
    text-align: center;
  }
  &.border-b {
    padding-bottom: 10px;
    &:after {
      position: absolute;
      left: 50%;
      bottom: 0;
      content: "";
      width: 62px;
      height: 3px;
      border-radius: 1px;
      background: $main;
      margin-left: -31px;
    }
  }
}

.title-frm-1 {
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  svg {
    margin-right: 10px;
  }
}






/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.fw-bold,strong, b {
  font-weight: 600!important;
}